<mat-toolbar color="primary">
    <span>Tach-cursos</span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/curso-javascript" routerLinkActive="mat-accent"> Cursos</a>
        <a mat-button routerLink="/quem-somos" routerLinkActive="mat-accent"> Quem somos</a>
        <a mat-button routerLink="/home" routerLinkActive="mat-accent"> Home</a>
        <a mat-button routerLink="/login" routerLinkActive="mat-accent"> login</a>
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent"> Signup</a>
      </li>
        <li>
          <button mat-button>logout</button>
        </li>
     </ul>
  </mat-toolbar>
