<mat-toolbar color="primary">
  <span>Tach-cursos</span>
  <span class="spacer"></span>
  <ul>
    <li>
     
        <a  *ngIf="!userisAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-accent"> Signup</a>
     
 
 <a  *ngIf="userisAuthenticated" mat-button routerLink="/curso-javascript" routerLinkActive="mat-accent"> Aluno</a>
,
 
     
 
 
      <!-- <a mat-button routerLink="/quem-somos" routerLinkActive="mat-accent"> Quem somos</a> -->
 
 
      <!-- <a  *ngIf="userisAuthenticated"mat-button routerLink="/home" routerLinkActive="mat-accent"> Home</a>
  -->
      <a *ngIf="!userisAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent"> login</a>

      <a *ngIf="userisAuthenticated" mat-button routerLink="/feedback-alunos" routerLinkActive="mat-accent"> Adm</a>
  
     </li>
      <li>
        <button mat-button color="warn"> Sair</button>
    </li>
  </ul>
</mat-toolbar>
<app-login></app-login> 