
<mat-toolbar color="primary">
    <span>Tach-cursos</span>
    <span class="spacer"></span>
    <ul>
        <li>
          <a mat-button routerLink="/feedback-alunos" routerLinkActive="mat-accent"> Adm</a>
          <a mat-button routerLink="/quem-somos" routerLinkActive="mat-accent"> Quem somos</a>
          <a mat-button routerLink="/home" routerLinkActive="mat-accent"> Home</a>
        </li>
      </ul>
</mat-toolbar>

<h1>Curso de JavaScript (precisa de login do aluno)</h1>

<p>Colocar os conteúdos da lista de dificuldade de JavaScript, como
    se fosse um curso
</p>

<app-add-comentario></app-add-comentario>
